<template>
  <b-container>
    <app-control-panel></app-control-panel>
    <b-row>
      <b-col lg="12">
        <h1>Товары в вашей корзине</h1>
        <p class="small-label">P.S. Поскольку это тестовый проект, то система покупки не реализована</p>
        <b-container v-if="!this.$store.state.basket.goods.length">
          <b-row>
            <b-col lg="12">
              <p>В корзине нет товаров</p>
            </b-col>
          </b-row>
        </b-container>
        <b-container class="my-basket-wrap" v-for="good in this.$store.state.basket.goods">
          <b-row>
            <b-col lg="3" class="text-in-block">{{good.title}}</b-col>
            <b-col lg="5" class="text-in-block">{{good.description}}</b-col>
            <b-col lg="1" class="text-in-block">{{good.id}}</b-col>
            <b-col lg="3">
              <b-button variant="success" disabled>Заказать</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import ControlPanel from '../static/control-panel.vue';

  export default {
    name: "main-page",
    components: {
      appControlPanel: ControlPanel
    },
  }
</script>

<style scoped>
  h1{
    margin-top:25px;
  }
  .small-label{
    margin-bottom:15px;
  }
  .my-basket-wrap{
    margin-top: 25px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .text-in-block{
    padding-top:6px;
  }
</style>
