<template>
  <b-container>
    <app-control-panel v-if="showControlPanel"></app-control-panel>
    <b-row class="user-info-wrap">
      <b-col lg="6">
        <div class="photoWrap">
          <img class="photoUser" :src="`/photo/${photoSrc}`" alt="photoUser" />
        </div>
      </b-col>
      <b-col lg="6">
        <h4>Информация о вас</h4>
        <p>Ваше имя: {{login}}</p>
        <b-button variant="success" @click="showPeople">Начать общение</b-button>
        <div v-if="showUsersList" class="userListWrap">
          <p class="userInList" v-for="user in this.$store.getters.getUsersForDialog(id)" @click="startDialog(user.id)">{{user.login}} +</p>
        </div>
        <b-button variant="info" @click="showAllProducts">Все товары</b-button>
        <b-button variant="primary" @click="myProducts">Мои товары</b-button>
      </b-col>
    </b-row>
    <b-row v-if="showChatDesk">
      <b-col lg="6" offset-lg="3">
        <div class="dialog">
          <p v-for="message in messagesInDialog">{{message.fromLogin}}: {{message.text}}</p>
        </div>
        <b-form-input type="text" v-model="message"></b-form-input>
        <b-button class="buttonSendMessage" variant="info" @click="addMessage">Отправить</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import ControlPanel from '../static/control-panel.vue';

  export default {
    name: "main-page",
    components: {
      appControlPanel: ControlPanel
    },
    data(){
      return {
        login: this.$store.state.user.login.data,
        showUsersList: false,
        message: '',
        messagesInDialog: [],
        dialogId: null,
        showControlPanel: false,
        showChatDesk: false,
        photoSrc: this.$store.state.user.photo.data,
      }
    },
    methods: {
      showPeople(){
        this.showUsersList = true;
      },
      myProducts(){
        this.$router.push('/product/' + this.$store.state.user.id.data);
      },
      startDialog(userId){
        this.$http.post('startDialog', JSON.stringify({to: userId, from: this.$store.state.user.id.data}))
          .then(response => {
            if(response.body === 'error') alert("При загрузке диалога произошла ошибка!");
            else {
              if(Array.isArray(response.body)){
                this.messagesInDialog = response.body;
                this.dialogId = response.body[0].dialog;
                this.showChatDesk = true;
              }
            }
          })
          .catch(error => {});
      },
      addMessage(){
        this.$http.post('addMessage', JSON.stringify({
            text: this.message,
            dialogId: this.dialogId,
            userId: this.$store.state.user.id.data,
            userLogin: this.$store.state.user.login.data
          }))
          .then(response => {

            // очищаем поле ввода после отправки сообщения
            this.message = '';

            if(Array.isArray(response.body)){
              this.messagesInDialog = response.body;
              this.dialogId = response.body[0].dialog;
            }
          })
          .catch(error => {});
      },
      showAllProducts(){
        this.$router.push('/product');
      },
    },
    beforeCreate(){

      // проверяем выполнил ли пользователь вход, а не зашёл просто по ссылке
      if(this.$cookie.get('access') == 'yes') {

        // получаем всех пользователей для возможного диалога
        this.$http.get('getAllUsers')
          .then(response => {
            if(Array.isArray(response.body))
            {
              this.$store.dispatch('setUsers', {data: response.body});
            }
            if(response.body == 'error') alert("Ошибка при загрузке списка пользователей!");
          })
          .catch(error => {});

        // передаём в состояние данные о количестве записей в корзине из базы данных для этого пользователя
        this.$http.get('getBasketCount', {params: {id: this.$store.state.user.id.data}})
          .then(response => {
            if(Array.isArray(response.body)){
              this.$store.dispatch('fillBasket', response.body);

              // только теперь можно отображать панель контроля, так как она использует состояние
              this.showControlPanel = true;
            } else {
              // только теперь можно отображать панель контроля, так как она использует состояние
              this.showControlPanel = true;
            }
          })
          .catch(error => {alert("Не удалось получить информацию о количестве товаров в корзине")});
      } else this.$router.push('/');
    }
  }
</script>


<style scoped>
  .photoWrap{
    height:400px;
    width:100%;
    border:1px solid black;
  }
  .dialog{
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-left: 15px;
  }
  .userInList{
    cursor: pointer;
    padding-top: 15px;
    padding-left: 15px;
  }
  .userInList:hover{
    text-decoration:underline;
  }
  .userListWrap{
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightgrey;
    margin-top: 5px;
    margin-bottom:5px;
  }
  .buttonSendMessage{
    margin-top:5px;
    margin-bottom:25px;
  }

  .photoUser{
    width:100%;
    height:100%;
  }
  .user-info-wrap{
    margin-top:25px;
  }
</style>
