<template>
  <b-container class="start-section-wrap">
    <b-row>
      <b-col lg="4" offset-lg="4">
        <b-form-group
          id="login"
          label="Enter your login"
          label-for="loginInput"
          :invalid-feedback="invalidLogin"
          :valid-feedback="validLogin"
          :state="state"
        >
          <b-form-input type="text" id="loginInput" :state="state" v-model.trim="login"></b-form-input>
        </b-form-group>
        <b-form-group
          id="password"
          description="Введите свой пароль"
          label="Enter your password"
          label-for="passwordInput"
        >
          <b-form-input type="password" id="passwordInput" v-model.trim="password"></b-form-input>
        </b-form-group>
        <b-button variant="info" @click="checkUser">Войти</b-button>
        <b-button variant="warning" @click="registerUser">Зарегистрироваться</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    name: "index",
    data(){
      return {
        login: '',
        password: ''
      }
    },
    methods: {
      checkUser(){
        this.$http.post('checkUserEnter', JSON.stringify({login: this.login, password: this.password}))
          .then(response => {
            if(response.body == "error") alert("Логин или пароль неправильные!");
            else {
              this.$store.dispatch('setId', {data: response.body.id});
              this.$store.dispatch('setLogin', {data: response.body.login});
              this.$store.dispatch('setPassword', {data: response.body.password});

              if(response.body.photoName == null) this.$store.dispatch('setPhoto', {data: 'anonim.jpg'});
              else this.$store.dispatch('setPhoto', {data: response.body.photoName});

              this.$cookie.set('access', 'yes', {expires: '10m'});
              this.$router.push('/main');
            }
          })
          .catch(error => {alert("Логин или пароль неправильные!")});
      },
      registerUser(){
        this.$http.post('registerUser', JSON.stringify({login: this.login, password: this.password}))
          .then(response => {
            if(response.body === 'error') alert('Пользователь с таким логином уже существует!');
            else {
              this.$store.dispatch('setId', {data: response.body.id});
              this.$store.dispatch('setLogin', {data: response.body.login});
              this.$store.dispatch('setPassword', {data: response.body.password});
              this.$store.dispatch('setphoto', {data: response.body.photoName});
              this.$cookie.set('access', 'yes', {expires: '10m'});
              this.$router.push('/main');
            }
          })
          .catch(error => {alert("Извините, не удалось вас зарегистрировать!")});
      }
    },
    computed: {
      state(){
        return this.login.length >= 6 ? true : false;
      },
      invalidLogin(){
        if(this.login.length >= 6) return '';
        else if(this.login.length > 0) return 'Логин должен быть не менее 6 символов!';
        else return 'Введите свой логин!';
      },
      validLogin(){
        return this.state === true ? 'Длина логина удовлетворительна' : '';
      }
    }
  }
</script>

<style scoped>
  .start-section-wrap{
    margin-top:125px;
  }
</style>
