<template>
  <b-container>
    <app-control-panel></app-control-panel>
    <b-row v-if="showAllProducts">
      <b-col lg="12">
        <h1>Все товары</h1>
        <b-container class="my-good-wrap" v-for="good in myProducts">
          <b-row>
            <b-col lg="3">{{good.title}}</b-col>
            <b-col lg="5">{{good.description}}</b-col>
            <b-col lg="1">{{good.id}}</b-col>
            <b-col lg="3">
              <b-button variant="success" @click="addGoodToBasket">В корзину</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
    <b-row v-else>
      <b-col lg="12">
        <h1>Мои товары</h1>
        <b-container v-if="!myProducts">
          <b-row>
            <b-col lg="12">
              <p>Вы пока не добавили ни одного товара</p>
            </b-col>
          </b-row>
        </b-container>
        <b-container v-else class="my-good-wrap" v-for="good in myProducts">
          <b-row>
            <b-col lg="3">{{good.title}}</b-col>
            <b-col lg="5">{{good.description}}</b-col>
            <b-col lg="1">{{good.id}}</b-col>
            <b-col lg="3">
              <b-button variant="danger" @click="removeGood">Удалить этот товар</b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
      <b-col lg="12" class="create-new-good">
        <h1>Создать новый товар</h1>
        <div>
          <b-form-input id="titleOfTheGood" type="text" v-model="titleOfTheGood" required placeholder="Введите название товара"></b-form-input>
          <b-form-input id="descriptionOfTheGood" type="text" v-model="descriptionOfTheGood" required placeholder="Введите Описание товара"></b-form-input>
          <b-button variant="success" @click="addGood">Добавить</b-button>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import ControlPanel from '../static/control-panel.vue';

  export default {
    name: "main-page",
    components: {
      appControlPanel: ControlPanel
    },
    data(){
      return {
        myProducts: [],
        showAllProducts: false,
        titleOfTheGood: '',
        descriptionOfTheGood: '',
      }
    },
    methods: {
      addGoodToBasket(event){
        let goodId = event.target.parentElement.parentElement.children[2].textContent;
        let goodTitle = event.target.parentElement.parentElement.children[0].textContent;
        let goodDescription = event.target.parentElement.parentElement.children[1].textContent;
        this.$http.post('addGoodToBasket', JSON.stringify({goodId, userId: this.$store.state.user.id.data}))
          .then(response => {
            if(response.body == 'ok') {
              this.$store.dispatch('addGoodToBasket', {
                id: goodId,
                title: goodTitle,
                description: goodDescription,
                ownerId: this.$store.state.user.id.data,
              });
            } else alert("Не удалось запросить данные из корзины!");
          })
          .catch(error => {});
      },
      removeGood(event){
        let goodId = event.target.parentElement.parentElement.children[2].textContent;
        this.$http.post('deleteGood', JSON.stringify({id: goodId}))
          .then(response => {
            if(this.$router.currentRoute.params['id']){
              this.$http.get('getProductsById', {params: {id: this.$router.currentRoute.params['id']}})
                .then(response => {
                  this.myProducts = response.body;
                })
                .catch(error => {});
            } else {
              this.$http.get('getAllProducts')
                .then(response => {
                  this.myProducts = response.body;
                  this.showAllProducts = true;
                })
                .catch(error => {});
            }
          })
          .catch(error => {});
      },
      addGood(){
        this.$http.post('addGood', JSON.stringify({
          ownerId: this.$store.state.user.id.data,
          title: this.titleOfTheGood,
          description: this.descriptionOfTheGood
        })).then(response => {

          // очищаем поля после добавления товара
          this.descriptionOfTheGood = '';
          this.titleOfTheGood = '';

          // и снова надо подгрузить товары, чтобы обновить содержание товаров пользователя
          if(this.$router.currentRoute.params['id']){
            this.$http.get('getProductsById', {params: {id: this.$router.currentRoute.params['id']}})
              .then(response => {
                this.myProducts = response.body;
              })
              .catch(error => {});
          } else {
            this.$http.get('getAllProducts')
              .then(response => {
                this.myProducts = response.body;
                this.showAllProducts = true;
              })
              .catch(error => {});
          }
        }).catch(error => {});
      },
    },
    beforeCreate(){
      if(this.$router.currentRoute.params['id']){
        this.$http.get('getProductsById', {params: {id: this.$router.currentRoute.params['id']}})
          .then(response => {
            if(Array.isArray(response.body)) this.myProducts = response.body;
            else this.myProducts = false;
          })
          .catch(error => {});
      } else {
        this.$http.get('getAllProducts')
          .then(response => {
            if(Array.isArray(response.body)){
              this.myProducts = response.body;
              this.showAllProducts = true;
            }
            else alert("При загрузке товаров произошла ошибка!");
          })
          .catch(error => {});
      }
    }
  }
</script>

<style scoped>
  h1{
    margin-top:25px;
  }
  #titleOfTheGood{
    margin-top: 15px;
    margin-bottom: 5px;
  }
  #descriptionOfTheGood{
    margin-bottom:5px;
  }
  .my-good-wrap{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .create-new-good{
    margin-top:50px;
    margin-bottom:25px;
  }
</style>
