<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12">
        <app-contacts></app-contacts>
        <app-map></app-map>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import Contacts from './phone-email-address.vue';
  import Map from './map.vue';

  export default {
    name: "index",
    components: {
      appContacts: Contacts,
      appMap: Map
    }
  }
</script>

<style scoped>

</style>
