<template>
  <b-container fluid>
    <b-row cols="12">
      <b-col lg="8" offset-lg="2" class="map-container">
        <h3><img src="/world-map.png" alt="map" />как нас найти</h3>
        <hr/>
        <iframe id="google_maps" :src="this.$store.state.mapsrc" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
    export default {
        name: "map"
    }
</script>

<style scoped>
  .map-container{
    text-align: center;
    margin-top:25px;
    margin-bottom:25px;
  }
  img{
    width:50px;
    height:50px;
    margin-right:10px;
  }
  iframe{
    height:350px;
    margin-top:15px;
  }
</style>
