<template>
  <b-container fluid>
    <b-row cols="12">
      <b-col lg="4" class="contact-block">
        <img src="/home.png" alt="home" />
        <p>{{this.$store.state.address}}</p>
      </b-col>
      <b-col lg="4" class="contact-block">
        <img src="/phone.png" alt="phone" />
        <p>{{this.$store.state.phone}}</p>
      </b-col>
      <b-col lg="4" class="contact-block">
        <img src="/mail.png" alt="mail" />
        <p>{{this.$store.state.email}}</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
    export default {
        name: "phone-email-address"
    }
</script>

<style scoped>
  img{
    width:50px;
    height:50px;
    margin-bottom:25px;
  }
  .contact-block{
    text-align:center;
    margin-top:55px;
  }
</style>
