<template>
  <b-container fluid>
    <b-row>
      <b-col lg="12">
        <app-header></app-header>
        <router-view class="content"></router-view>
        <app-footer></app-footer>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Header from './components/static/header.vue';
import Footer from './components/static/footer.vue';

export default {
  name: 'app',
  components: {
    appHeader: Header,
    appFooter: Footer
  },
}
</script>

<style>
  .content{
    min-height:750px;
  }
</style>
