<template>
  <b-container>
    <app-control-panel></app-control-panel>
    <b-row>
      <b-col lg="12">
        <h1>Редактирование вашего профиля</h1>
      </b-col>
      <b-col lg="12">
        <b-form-input v-model="login" type="text" placeholder="Ваш логин"></b-form-input>
      </b-col>
      <b-col lg="12" class="input-wrap">
        <p>Выберите фотографию</p>
        <b-form-file v-model="photo" class="mt-3" plain></b-form-file>
      </b-col>
      <b-col lg="12" class="input-wrap">
        <b-form-input v-model="password" type="password" placeholder="Ваш пароль"></b-form-input>
      </b-col>
      <b-col lg="12" class="input-wrap">
        <b-button variant="success" @click="editUser">Изменить данные</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  import ControlPanel from '../static/control-panel.vue';

  export default {
    name: "main-page",
    components: {
      appControlPanel: ControlPanel
    },
    data(){
      return {
        login: this.$store.state.user.login.data,
        password: this.$store.state.user.password.data,
        photo: null,
      }
    },
    methods: {
      editUser(){

        let data = new FormData();
        data.append('photo', this.photo);
        data.append('login', this.login);
        data.append('password', this.password);
        data.append('id', this.$store.state.user.id.data);

        this.$http.post('editUser', data)
          .then(response => {
            if(response.body == 'ok') {
              alert("Информация успешно обновлена!");

              // надо заного обновить данные о пользователе
              this.$http.post('checkUserEnter', JSON.stringify({login: this.login, password: this.password}))
                .then(response => {
                  if(response.body == "error") alert("При обновлении данных произошла ошибка!");
                  else {
                    this.$store.dispatch('setId', {data: response.body.id});
                    this.$store.dispatch('setLogin', {data: response.body.login});
                    this.$store.dispatch('setPassword', {data: response.body.password});

                    if(response.body.photoName == null) this.$store.dispatch('setPhoto', {data: 'anonim.jpg'});
                    else this.$store.dispatch('setPhoto', {data: response.body.photoName});
                  }
                })
                .catch(error => {alert("При обновлении данных произошла ошибка!")});
            }
            else alert("Измененить данные не удалось!");
          })
          .catch(error => {alert("Измененить данные не удалось!")});
      }
    },
  }
</script>

<style scoped>
  h1{
    margin-top:25px;
    margin-bottom:25px;
  }
  .input-wrap{
    margin-top:15px;
  }
</style>
