<template>
  <b-row class="control-panel-wrap">
    <b-col lg="2">
      <p @click="goToBasket" class="basket-text">В корзине: {{this.$store.state.basket.goods.length}} товаров</p>
    </b-col>
    <b-col lg="3">
      <b-button variant="info" @click="editUser">Редактировать профиль</b-button>
    </b-col>
    <b-col lg="2">
      <b-button variant="primary" @click="goHome">На главную</b-button>
    </b-col>
    <b-col lg="1">
      <b-button variant="warning" @click="logout">Выйти</b-button>
    </b-col>
  </b-row>
</template>

<script>
  export default {
    name: "control-panel",
    methods: {
      goToBasket(){
        this.$router.push('/basket');
      },
      logout(){
        this.$cookie.delete('access');
        this.$router.push('/');
      },
      goHome(){
        this.$router.push('/main');
      },
      editUser(){
        this.$router.push('/edit');
      }
    }
  }
</script>

<style scoped>
  .control-panel-wrap{
    padding-top: 15px;
    padding-bottom: 9px;
    border-bottom: 1px solid lightgrey;
  }
  .basket-text{
    padding-top:6px;
  }
  .basket-text:hover{
    cursor:pointer;
    text-decoration:underline;
  }
</style>
