<template>
  <b-container class="footer">
    <b-row>
      <b-col lg="12">
        <p>
          При разработке приложения были использованы следующие технологии:
          Vue.js, Node.js, Vue-resource, Cue-router, Vuex, Vue-cookie, Bootstrap-vue,
          Express, Body-parser, SQLIte3.
        </p>
        <div>
          <p class="textFunction">В приложении реализованы следующие функции:</p>
          <ol>
            <li>Система авторизации</li>
            <li>Управление "куками"</li>
            <li>Чат между пользователями</li>
            <li>Управление товарами</li>
            <li>Корзина товаров</li>
            <li>Управление данными пользователя</li>
          </ol>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    name: "footer"
  }
</script>

<style scoped>
  .footer{
    background-color: #007BFF;
    color:white;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .textFunction{
    margin-bottom:5px;
  }
</style>
