<template>
  <b-container class="header">
    <b-row>
      <b-col lg="12">
        <h3>Социальный магазин: покупай и общайся одновременно ;)</h3>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
  export default {
    name: "header"
  }
</script>

<style scoped>
  .header{
    background-color: deepskyblue;
    color:white;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  h3{
    text-align:center;
  }
</style>
